.container
  if user && user.username
    .row
      .col-md-12

          h5 User Logged in!
          div Hello: #{user.username}
          small User Id: #{user.id}
          br
          small Email: #{user.email}
          br
          small user.token
  block content
