doctype html
html(lang="en")
  include ../partials/head
  body(style="padding-top: 10px; padding-bottom: 10px;")
    //include ../partials/navigation
    include ../partials/banner
    include ../partials/content
    //include ../partials/footer
    block scripts
